$max-col:12;
$breakpoints:(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
.ui-row:after,
.ui-row:before {
    content: ' ';
    display: table;
}

.ui-row:after {
    clear: both;
}

[class*='ui-col-'] {
    width: 100%;
    float: left;
    min-height: 1px;
}

@each $breakpoint,
$screen in $breakpoints {
    @media screen and (min-width: $screen) {
        @for $col from 1 through $max-col {
            $equation:100%/$col;
            .ui-col-#{$breakpoint}-#{$col} {
                width: $equation;
            }
        }
    }
}
